<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/united/bootstrap.min.css"
    integrity="sha384-JW3PJkbqVWtBhuV/gsuyVVt3m/ecRJjwXC3gCXlTzZZV+zIEEl6AnryAriT7GWYm" crossorigin="anonymous">
  <link rel="stylesheet" href='/static/home.css' />
</head>

<body>
  <main class="container p-4">



    <form method="POST"> <!-- Replace '/submit' with your form submission URL -->
      <h1 style="margin-bottom: 20px; margin-top: 50px;">Edit Transaction</h1>
      <table>
        <thead>
          <tr>
            <th style="color:#0b0047;">Date</th>
            <th style="color:#0b0047;">Amount</th>
            <th style="color:#0b0047;">Category</th>
            <th style="color:#0b0047;">Description</th>
            <th></th>
            <!-- An empty th for the submit button -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="date" name="date" placeholder="dd/mm/yyyy" style="height: 40px; width: 120px;" autofocus>
            </td>
            <td><input type="text" name="amount" placeholder="€" style="width: 60px; text-align: center;">
            </td>
            <td>
              <select name="category" class="tall-dropdown" style="width: 135px;">
                <optgroup label="Income" style="color: green;">
                  <option value="Salary">Salary</option>
                  <option value="Side hustle">Side hustle</option>
                  <option value="Investments">Investments</option>
                </optgroup>
                <optgroup label="Expense" style="color: red;">
                  <option value="Housing">Housing</option>
                  <option value="Transportation">Transportation</option>
                  <option value="Food">Food</option>
                  <option value="Utilities">Utilities</option>
                  <option value="Medical">Medical</option>
                  <option value="Leisure">Leisure</option>
                  <option value="Education">Education</option>
                </optgroup>
              </select>

            </td>
            <td><input type="text" name="description" placeholder="Description"
                style="width: 140px; text-align:  left;"></td>
            <td><input type="submit" value="Save"></td>
            <!-- Submit button -->
          </tr>
        </tbody>
      </table>
    </form>


</html>